<!DOCTYPE html>
<html>
<head>
<title>Getting Started with your own Watson Maintenance Advisor instance on Bluemix</title>
</head>
<body ng-cloak style="background-color: aliceblue;">

<h1>Getting Started with your own Watson Maintenance Advisor instance on Bluemix</h1>

<p>Deploy the application to your own Bluemix instance</p>

<a href="https://bluemix.net/deploy?repository=https://hub.jazz.net/git/benedikt7/WMADeploy"> <img src="https://bluemix.net/deploy/button.png" alt="Deploy to Bluemix"></a>

</body>
</html>


