<div class="panel-body">
	
    
    <div class="row">
		<a href="/watson"><img src="../watson/images/M2.jpg" alt="IBM"
			style="width: 90%; height: 100%; display: block; margin: 0 auto;">
        	 </a> 
	</div>
    
    <div class="panel-body" style="min-height: 400px;">
	<div class="col-md-6 col-md-offset-3">
            
        </div>
    </div>
    
</div>

<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/watson/api/photo"
     method    =  "post"
>
<input type="file" name="watsonImg" />
<input type="text" name="_id" value="0b478852daa8238964534c69ffad8d20" />
<input type="submit" value="Upload Image" name="submit">
</form>


<script type="text/javascript">
	
</script>