<style type="text/css">

</style>


<div class="panel-body">
	<div class="row" ng-controller="RestController">

		<div class="col-lg-12">
			<div class="huge">
				<p class="page-header" style="margin-top: 5px;"></p>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<md-icon
							md-svg-icon="../libs/material-design-icons/navigation/svg/design/ic_menu_18px.svg"
							style="color: greenyellow;"></md-icon>
						{{mainHeaderRest}}

					</div>


					<div class="panel-body">
									<a target="_blank"
										ng-click="loadFluegeXML()"
									class="btn btn-default btn-xs btn-info">Test Button</a>

					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<md-icon
							md-svg-icon="../libs/material-design-icons/navigation/svg/design/ic_menu_18px.svg"
							style="color: greenyellow;"></md-icon>
						Decision Service Output

					</div>
					<div class="panel-body">
					</div>
				</div>
			</div>
		</div>
		
	
		
	</div>
	<!-- /.row (nested) -->
</div>

